/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 1, 2023, 3:30:10 PM
    Author     : Yui
*/

.edit-lesson-container {
    display: grid;
    grid-template-columns: 300px 1fr;
}

.edit-lesson-container .content-pane {
    background: #f4f6fc;
}

.edit-lesson-container h1 {
    margin-bottom: 2rem;
}

.edit-lesson-container main {
    margin: 3rem;
}

.lesson-prev-container {
    position: relative;
}

.lesson-prev-container > div {
    position: absolute;
    display: none;
    z-index: 10;
    bottom: -100%;
}

.edit-lesson-container .fields {
    display: grid;
    grid-template-columns: auto 1fr;

    gap: 0.5rem 1rem;
    align-items: flex-start;
}

.edit-lesson-container .fields input, textarea, select {
    padding: 0.5rem;
}

.edit-lesson-container .fields label {
    padding: 0.5rem;
}

.edit-lesson-container .action-container {
    margin-top: 2rem;
    display: flex;
    gap: 0.5rem;
}

.edit-lesson-container .btn-del {
    background: transparent;
    border: 1px solid red;
    color: red;
    padding: 0.5rem 2rem;
    margin: 0.2rem;
    margin-left: auto;
    border-radius: 4px;
}

.edit-lesson-container .btn-save {
    background: #fcd980;
    border: 1px solid #fcd980;
    color: black;
    padding: 0.5rem 2rem;
    margin: 0.2rem;
    border-radius: 4px;
}