*{
    font-family: Poppins, sans-serif;
}
body, html {
    padding: 0;
    margin: 0;
}
div,
label {
    margin: 0;
    padding: 0;
}

/****** Style Star Rating Widget *****/
#rating {
    float: left;
    line-height: 0.5;
    border: 2px solid white;
}
.overview_rate {
    display: flex;
}

#rating:hover {
    border: 2px solid #ccc;
    cursor: pointer;
}

#rating>input {
    display: none;
    font-size: 14px;
}

/*ẩn input radio - vì chúng ta đã có label là GUI*/
#rating>label:before {
    padding: 5px;
    font-size: 2.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "☆";
    cursor: pointer;
}

/*0.5 ngôi sao*/
#rating>label {
    color: #000;
    float: right;
}

/*float:right để lật ngược các ngôi sao lại đúng theo thứ tự trong thực tế*/
/*thêm màu cho sao đã chọn và các ngôi sao phía trước*/
/*,
*/
/*#rating:not(:checked)>label:hover,
#rating:not(:checked)>label:hover~label,*/
#rating>input:checked~label:before{
    color: #FFD700;
    content: "★";
}
/* Hover vào các sao phía trước ngôi sao đã chọn*/
#rating>input:checked+label:hover,
#rating>input:checked~label:hover,
#rating>label:hover~input:checked~label,
#rating>input:checked~label:hover~label {
    color: #f1cd00;
}
* {
    font-family: Poppins, sans-serif;
}

div,
.full {
    margin: 0;
    padding: 0;
}

/****** Style Star Rating_1 Widget *****/
#rating_1 {
    float: left;
    border: 2px solid white;
    margin-bottom: 24px;
    margin-left: 16px;
    line-height: 0.5;
}

#rating_1:hover {
    cursor: pointer;
}

#rating_1>.rate {
    display: none;
    font-size: 14px;
}

/*ẩn input radio - vì chúng ta đã có .full là GUI*/
#rating_1>.full::before {
    padding: 5px;
    font-size: 2.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "☆";
    cursor: pointer;
}
/*0.5 ngôi sao*/
#rating_1>.full {
    color: #000;
    float: right;
}

/*float:right để lật ngược các ngôi sao lại đúng theo thứ tự trong thực tế*/
/*thêm màu cho sao đã chọn và các ngôi sao phía trước*/

#rating_1:not(:checked)>.full:hover::before,
#rating_1:not(:checked)>.full:hover~.full::before,
#rating_1>.rate:checked~.full::before {
    color: #FFD700;
    content: "★";
}

/* Hover vào các sao phía trước ngôi sao đã chọn*/
#rating_1>.rate:checked+.full:hover,
#rating_1>.rate:checked~.full:hover,
#rating_1>.full-1:hover~.rate:checked~.full,
#rating_1>.rate:checked~.full:hover~.full {
    color: #f1cd00;
}
.containerRate {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.2);
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 999;
}

#formRate_1 {
    background-color: white;
    width: 580px;
    max-height: 342px;
    overflow-y: auto;
    margin: 6% auto;
}

.rate-title {
    padding: 20px 16px 16px 8px;
    margin: 0;
    font-size: 22px;
}

.rate-guid {
    margin-left: 8px;
}

.review-area {
    padding: 8px;
    resize: none;
    margin-left: 21px;
}

.submit-desc {
    font-size: 10px;
    width: 400px;
    color: rgb(116, 112, 112);
}
.btn-submit:hover {
    background-color: #094687;
}
.btn-submit {
    background-color: #0a67ca;
    border: none;
    border-radius: 2px;
    padding: 6px 8px;
    color: #ddd;
    cursor: pointer;
}

.btn-review {
    display: flex;
    padding: 12px 22px;
    justify-content: space-between;
}
#formRate_1>.head {
    display: flex;
    justify-content: space-between;
}
.cancel {
    font-size: 32px;
    padding: 0px 10px 4px;
    line-height: 32px;
    cursor: pointer;
}
.head>div {
    margin: 8px 4px;
}
.btn-submit_o {
    background-color: #ccc;
    border: none;
    border-radius: 2px;
    padding: 6px 8px;
    color: #000;
    cursor: pointer;
}
.overview_rate {
    line-height: 36px;
    color: #686161;
}
.total_ratings, .total_reviewings {
    font-family: auto;
    padding: 0 4px;
}
.avg_ratings {
    padding-left: 6px;
    font-size: 16px;
}
.container_review {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-height: 524px;
    overflow-y: auto;
}
.container_review::-webkit-scrollbar {
    display: none;
}

.review {
    width: 60%;
    background-color: rgb(246, 247, 249);
    padding: 8px 12px 8px;
}

.header-user {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-weight: bold;
    background-color: rgb(187, 229, 229);
    padding: 6px;
    border-radius: 100%;
    margin-right: 12px;
    width: 32px;
    height: 30px;
}
.user-name {
    margin: 0;
}
.header-time {
    font-size: 12px;
}

.review-body {
    font-size: 14px;
    margin-left: 48px;
}

.body-content {
    margin: 8px 0 0 0;
}

.width {
    width: 100%
}